<h4> Sobre</h4>
<hr />

<div class="card">

    <div class="card-body">
        <h5> Blog simples criado com Node.js</h5>
        <hr>
        <p>Este blog foi criado apenas para fins de aprendezido e portanto os artigos aqui postados
            foram retirados de sites como Wikipedia. Além disso, como parte dos estudos, o site poderá
            sofrer alterações constantes para fins de melhorias e inclusão de novas funcionalidades e melhores práticas.
        </p>
        <img src="/img/Eu.jpeg" alt="Imagem Alessandro Ferreira Antônio" />
        <small>
            <p>&copy; 2020 - <a href="https://www.linkedin.com/in/afantonio/" target="_blank" title="Linkedin">
                    Alessandro Ferreira
                    Antônio</a></p>
        </small>
        <hr />
        <div>
            <h6> Recursos e ferramentas utilizadas:</h6>
            <ul>
                <li>NodeJS</li>
                <li>Express</li>
                <li>Handlebars</li>
                <li>Javascript</li>
                <li>JQuery</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>Visual Studio Code</li>
                <li>Git</li>
                <li>Mongo DB</li>
            </ul>
        </div>
        <hr>
        <div>
            <p>Como parte do processo de melhoria da aplicação, as seguintes funcionalidades serão implentadas em breve:
            </p>
            <ul>
                <li>Melhorias no processo de autenticação permitindo o envio de e-mail de confirmação de cadastro e
                    consequentemente a recuperação de senha;</li>
                <li>Melhorias na interface do site;</li>
                <li>Inclusão de um mecanismo de busca de postagens no site;</li>
                <li>Botões para curtir ou não curtir uma postagem;</li>
                <li>Opção para responder aos comentários;</li>
                <li>Melhorar as validações nos formulários incluindo também validações no frontend, pois atualmente
                    todas as validações são feitas no backend;</li>
                <li>Geração de gráficos no painel administrativo;</li>
                <li>Outras funcionalidades;</li>
            </ul>
        </div>

        <div>
            <p><img src="/img/github.png" /> Para acessar o código fonte da aplicação acesso o repositório no <a
                    href="https://github.com/afantonio1" target="_blank">Github</a>.</p>
        </div>
        <hr class="separador">
        <h5>Outros projetos:</h5>
        <hr>
        <p>01 - Cadastro de cursos com Node.js e MySQL</p>
        <p> Ver fonte <a href="https://github.com/afantonio1/cadastro-curso-nodejs" target="_blank"><img
                    src="/img/github.png" /></a></p>
        <hr>
        <p>02 - Aplicativo para realizar cotações com Node.js</p>
        <p> Ver fonte <a href="https://github.com/afantonio1/app-cotacoes-nodejs" target="_blank"><img
                    src="/img/github.png" /></a></p>
    </div>
</div>